@font-face {
    font-family: 'Circular-Black';
    src: url('fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular-Med';
    src: url('fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Circular-Bold';
    src: url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circular-Book';
    src: url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.tekskecil {
    font-size: 24px;
    line-height: 1.25;
    font-family: "Circular-Book";
		color: #0f0f0f;
}

.quanta {
  font-size: 40px;
  line-height: 1.25;
  font-family: "Circular-Bold";
  font-weight: bold;
	color: #0f0f0f;
}

.The-Team {
  font-family: "Circular-Bold";
  font-size: 102px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #161743;
}

.quote1st {
  font-family: "Circular-Bold";
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #161743;
}

.quote2nd {
  padding-left: 8%;
  font-family: "Circular-Bold";
  font-size: 46px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #161743;
}

.footerImage {
  background-image: linear-gradient(to bottom);
}